<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>登录</title>
	
	<!-- 样式文件引入 -->
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/login/login.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	
	<!-- 脚本文件引入 -->
	<script defer async="true" data-main="../../../js/merchant/login/login.js" src="../../../js/require.js"></script>
</head>
<body>
	<form id="loginForm">
		<div style="padding-top: 3rem;">
			<div class="borderArea" style="margin-top: 0;">
				<p class="iptItem">
					<span class="logIcon">
						<img src="../../../img/user1.png" alt="">
					</span> 
					<input type="text" class="login-input" id="merchantNo" name="merchantNo" placeholder="请输入商户名" onkeyup="this.value=this.value.replace(/[^0-9,a-z,A-Z]/g,'')">
					<i class="close"><img src="../../../img/close.png" alt=""></i>
				</p>
				<p class="iptItem" style='margin-top: 5px;'>
					<span class="logIcon">
						<img src="../../../img/password1.png" alt="">
					</span> 
					<input type="password" class="login-pwd" name="password" id="password" placeholder="请输入密码" onkeyup="this.value=this.value.replace(/[^0-9,a-z,A-Z]/g,'')">
					<i class="eyeIcon eye-close"><i></i></i>
				</p>
			</div>
		</div>
		<div class="logTip">
			<div class="checkbox">
				<input type="checkbox" id="checkboxInput" name="checkboxInput" checked="checked"/>
			  	<label for="checkboxInput"></label>
			  	<span class="checkbox-text">自动登录</span>
			</div>
		</div>
		<div class="contectBox txtCenter" style="margin-top: 1rem;">
			<span class="contect-warning" style="display: none">请填写登录信息</span>
		</div>
		<div class="submit" style="margin-top: 2.4rem;" id="loginBtn">
			<a href="#" class="redBtn">登录</a>
		</div>
		<div class="logTip txtCenter" style="margin-top: 1.5rem;"></div>
		<div class="weui-footer weui-footer_fixed-bottom">
			<p class="weui-footer__text"></p>
		</div>
		<input id="isAutoLogin" name="autoLogin" type="hidden"/>
	</form>
</body>
</html>