<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/user/myOrder.css">
	<script defer async="true" data-main="../../../js/user/contract/contractOrder.js" src="../../../js/require.js"></script>
	<title>签约订单</title>
</head>
<body>
    <div class="borderArea" style="margin-top:0;padding-top:5px;border-bottom:none">
        
    </div>
    <div class='iconBlock' style='margin:30% auto 0;display:none;'>
         <img src='../../../img/empty.png' style='width:125px;display:block;margin:0 auto;'>
         <p style='font-size:1.7rem;color:#adadad;text-align:center;margin-top:2rem;'>您暂时还没有签约订单</p>
	</div>
</body>
</html>