html {font-size:20px; height:100%; overflow:hidden; }
.borderArea{
	border-top:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	background:#fff;
}
.iptItem{
    display: block;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #D5D5DB;
    background:#fff;
    zoom: 1;
    -webkit-box-sizing:border-box;
    width:95%;
	margin-left:5%;
	padding:0;
}
.iptItem label{
    display:inline-block;
    width: 85px;
    font-size: 0.75rem;
    line-height: 1.8rem;
    color: #000;
}
.text-input{
    display:inline-block;
    border: none;
    outline: none;
    font-size: 0.75rem;
    color: #000;
}
.toLimit{
	float:right;
	margin-right:0.5rem;
	color:#b38a53;
	font-size:0.7rem;
	line-height:1.5rem;
}
.submit{
    width: 90%;
    margin: 0 auto;
    overflow:hidden;
}
.save{
    display: block;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    border:0;
    outline:0;
    background:#b38a53;
    color:#fff;
    -webkit-appearance: none;
}