<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>会员中心</title>
		
		<!-- 样式文件引入 -->
		<link rel="stylesheet" type="text/css" href="../../../css/common/module.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/merchant/merchantCenter.css" />
		
		<!-- 脚本文件引入 -->
		<script defer async="true" data-main="../../../js/merchant/merchantCenter/merchantCenter.js" src="../../../js/require.js"></script>
	</head>
	<body>
		<div class="page">
			<header>
		        <img src='../../../img/newHeader.png'>
		        <ul class="t-font">
		            <li>尊敬的<span id="merchantNo"></span>，您好！</li>
		        </ul>
		    </header>
<!-- 		    <section class='sectionTwo'>
		        <div class='sectionTwo-one sectionSon' id="toQr">
		            <div>
		            <img src="../../../img/qr.png" />
		            <span>生成新车二维码</span>
		            </div>
		        </div>
		        <div class='sectionTwo-one sectionSon' id="orderList">
		            <div>
		            <img src="../../../img/stageOrderList2.png" />
		            <span>订单查询</span>
		            </div>
		        </div>
		        <div class='sectionTwo-one sectionSon' id="aboutMe">
		            <div>
		            <img src="../../../img/aboutMe.png" />
		            <span>关于我</span>
		            </div>
		        </div>        
		    </section> -->
		    <section class='sectionTwo'>
		        <div class='sectionTwo-one sectionSon' id="toQr">
		            <div>
		            <img src="../../../img/qr.png" />
		            <span>生成新车二维码</span>
		            <img src="../../../img/arrowRight.png" id="arrowRight">
		            </div>
		        </div>
		        <div class='sectionTwo-one sectionSon' id="orderList">
		            <div>
		            <img src="../../../img/stageOrderList2.png" />
		            <span>订单查询</span>
		            <img src="../../../img/arrowRight.png" id="arrowRight">
		            </div>
		        </div>
		        <div class='sectionTwo-one sectionSon' id="aboutMe" style="border: 0px;">
		            <div>
		            <img src="../../../img/aboutMe.png" />
		            <span>关于我</span>
		            <img src="../../../img/arrowRight.png" id="arrowRight">
		            </div>
		        </div>        
		    </section>
		</div>
	</body>
</html>