<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>订单二维码</title>
		
		<!-- 样式文件引入 -->
		<link rel="stylesheet" type="text/css" href="../../../css/common/module.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/merchant/qrCodeInfo.css" />
		
		<!-- 脚本文件引入 -->
		<script defer async="true" data-main="../../../js/merchant/merchantCenter/qrCodeInfo.js" src="../../../js/require.js"></script>
		
	</head>
	<body style='background:#fff;'>
		<div class="page">
			<div class="page-title">
			   <span></span>
			</div>
			<div class="qrBox">
			   <div class="qrCode"><img /></div>
			</div>
			<p class="p1">分期请扫上方二维码</p>
			<div class='qrBottom'> 
				<p class="p2"></p>
				<p class="p3"></p>
			</div>
		</div>	
	</body>
</html>
