<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/user/bankCardList.css">

	<script defer async="true" data-main="../../../js/user/aboutMe/bankCardList.js" src="../../../js/require.js"></script>
	<title>我的银行卡</title>
</head>
<body style='background-color:#fff'>
    <div class="borderArea" style="margin-top:14px;padding:0;border:none">
        <div class = 'block moreCard' style='border-bottom:none;'>
            <img src='../../../img/bankImg/more.png' class='bankImg' style="width: 4.7%;margin-top: 2.3rem;">
            <div class='TextBox' style="margin-left: 0.6rem;">
                <p class='bankTitle' style='color: #f39800;font-size: 1.5rem;'>添加银行卡</p>
            </div>
        </div>
    </div>
</body>
</html>