<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/login/caragreement.css">
	<!-- <script type="text/javascript" src="../../../js/common/jquery.min.js"></script> -->
	<title>《7qiku用户注册协议》</title>
	<style>
	   
	</style>
</head>
<body style='position: relative;'>
	<a href="user_reg.html" class="back">&lt;返回</a>
	<h1>《7qiku用户注册协议》</h1>
	<p style='text-indent: 0;'>声明：</p>
	<p style='font-weight:bold'>7qiku提醒您认真阅读、充分理解《7qiku用户注册协议》（下称“本协议”）各条款，特别是其中加粗部分的文字表述、涉及免除及限制7qiku责任的条款、对用户权利限制条款等。请审慎阅读并选择接受或不接受本协议。一经注册为7qiku用户，即视为接受7qiku服务时必须受本协议全部条款的约束；若用户不接受本协议全部或部分条款，请立即停止注册。</p>
    <p>本网站是由奇酷（北京）汽车租赁有限公司负责运营的平台/微信服务号（以下简称“7qiku”）。7qiku依据本协议的规定为7qiku用户（以下简称“用户”）提供服务。除非您接受本协议所有条款，否则无权使用7qiku于本协议下所提供的服务。您一经注册或使用7qiku服务即视为充分理解并完全接受本协议全部条款。在协议履行过程中，7qiku可根据实际情况对协议的相关条款进行修改变化。<span style='font-weight:bold'>一旦协议内容发生变动，7qiku将公布最新的服务协议，不再向用户作个别通知。如果用户不同意7qiku对协议所做的修改，有权停止使用7qiku服务。如果用户继续使用7qiku服务，则视为接受7qiku对协议所做的修改，并应遵照修改后的协议履行应尽义务。</span></p>
	<h2>第一章　7qiku使用限制说明</h2>
	<p><span style='font-weight:bold'>第1条：</span>在使用7qiku服务前，您必须先在7qiku完成注册，成为7qiku用户。</p>
	<p><span style='font-weight:bold'>第2条：</span>用户希望获得7qiku提供的相关服务，需要: (1)自行配备上网所需设备，包括个人电脑、调制解调器或其他必备上网装置。 (2)自行负担个人上网所支付的与此服务有关的电话费用、网络费用。</p>
	<p><span style='font-weight:bold'>第3条：</span>用户必须为（18-65周岁之间）符合中华人民共和国法律规定的具有完全民事权利和民事行为能力，能够独立承担民事责任的自然人。无民事行为能力人和限制行为能力人不能注册成为7qiku的用户并且其在本平台进行的交易或操作无效，7qiku一经发现，有权注销其账户，并追究其使用7qiku服务的一切法律责任。若用户违反前述限制注册使用7qiku的，其监护人应承担所有责任。</p>
	<p><span style='font-weight:bold'>第4条：</span>用户有义务确保个人资料信息的真实性、完整性和有效性，不得具有欺诈性、虚假、不准确或误导性；侵犯任何第三方著作权、专利权、商标权、商业秘密或其他专有权利或发表权或隐私权；违反任何适用的法律或法规；有侮辱或者诽谤他人，侵害他人合法权益的内容；有淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的内容；包含可能破坏、改变、删除、不利影响、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒\间谍软件或其他电脑程序；直接或间接链接至您无权链接或列入的任何网址或者内容。<span style='font-weight:bold'>若7qiku经判断认定用户资料存在错误、虚假、过时的嫌疑，7qiku有权终止会员账户。</span></p>
	<p><span style='font-weight:bold'>第5 条：</span>用户有义务提供有效的联系方式，包括但不限于手机号码、电话号码、通讯地址、常用电子邮箱等。联系方式发生变更时，应在3日内进行更新。<span style='font-weight:bold'>因用户未提供有效联系方式，导致7qiku未能提供服务时，造成的损失及法律后果，由用户自行承担。</span></p>
	<h2>第二章  7qiku服务内容说明</h2>
	<p><span style='font-weight:bold'>第6条：</span>7qiku是为符合条件的用户提供分期付款服务、信用咨询及评估、交易管理的平台/微信服务号。用户在接受本协议前应同意对7qiku及其合作方进行如下授权：授权7qiku、合作方、银行或委托的第三方通过合法渠道了解、咨询、查询用户的个人资信情况，财务状况和其他与评定用户信用分期付款额度及能力有关的信息；并可以索取或留存、使用该等信息以及用户在7qiku平台/微信服务号或与合作方的网站所提供的个人资料及其他相关信息资料等。同时为了给用户使用分期付款服务提供更大的便利，7qiku有权向协议规定的有关方（包括但不限于7qiku及资金方等）披露与用户享受该服务相关的信息。</p>
	<p><span style='font-weight:bold'>第7条：</span>一旦成为7qiku的注册用户，7qiku将通过电子邮件或短信的形式不定期地向用户提供各类投融资信息及创新产品方面的信息和服务，用户将同意和接受并不视上述行为为垃圾邮件。</p>
	<h2>第三章　用户账户安全承诺</h2>
	<p><span style='font-weight:bold'>第8条：</span>用户在7qiku平台/微信号注册的账户（如无特殊含义，本协议约定之账户，为用户在7qiku注册的账户）账户、密码等是7qiku识别用户身份及指令的唯一标识。<span style='font-weight:bold'>用户承诺妥善保管其账号和密码，不将个人账号信息泄露、转让、出借给其他任何人。因用户对其账号、密码保管不善而引发的包括但不限于损害赔偿等直接法律责任，概由用户自行承担。</span></p>
	<p><span style='font-weight:bold'>第9条：</span>用户同意，确保账户安全是用户的责任。任何使用用户的账户、密码等发送到7qiku平台系统或关联系统的信息即视为用户的行为，用户应对此行为负责，所有损失及法律后果由用户本人自行承担。</p>
	<h2>第四章　用户守法承诺</h2>
	<p><span style='font-weight:bold'>第10条：</span>用户承诺不以任何非法目的或途径使用7qiku服务，并遵守所有与7qiku服务相关的法律、法规及其他规范性文件。因违背上述承诺造成的损失及后果，用户自行负全部责任。</p>
	<p><span style='font-weight:bold'>第11条：</span>用户承诺严格按照本协议履行义务。如未完全履行义务，7qiku有权将其违约行为记入信用资料，有权在任何形式的媒体上公布其违约行为。</p>
	<h2>第五章　7qiku服务中断说明</h2>
	<p><span style='font-weight:bold'>第12条：</span>如发生下列任何一种情形，7qiku有权随时中断或终止向用户提供本协议项下的网络服务，而无需对用户或任何第三方承担任何责任：</p>
	<p class='secondary'>（1）用户提供的个人资料不真实；</p>
	<p class='secondary'>（2）用户违反本协议中规定的使用规则；</p>
	<p class='secondary'>（3）用户在使用服务时未按规定向7qiku支付相应的服务费。</p>
	<p><span style='font-weight:bold'>第13条：</span>基于互联网的特殊性，7qiku不承诺服务不会中断，也不承诺服务的安全性，用户对此应理解并确认。由于系统维护、设备故障、黑客攻击及其他不可抗力的影响，而导致用户无法正常使用相关服务时，7qiku不承担任何责任。</p>
	<h2>第六章：权利限制</h2>
	<p><span style='font-weight:bold'>第14条：</span>用户在使用7qiku服务过程中，必须遵循以下原则：</p>
	<p class='secondary'>（1）遵守中国有关的法律和法规；</p>
	<p class='secondary'>（2）遵守所有与网络服务有关的网络协议、规定和程序；</p>
	<p class='secondary'>（3）不得为任何非法目的而使用7qiku系统；</p>
	<p class='secondary'>（4）不得以任何形式使用7qiku侵犯7qiku的商业利益，包括并不限于发布非经7qiku许可的商业广告；</p>
	<p class='secondary'>（5）不得利用7qiku进行任何可能对互联网正常运转造成不利影响的行为；</p>
	<p class='secondary'>（6）不得利用7qiku提供上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
	<p class='secondary'>（7）不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
	<p class='secondary'>（8）不得利用7qiku进行任何不利于7qiku的行为；</p>
	<p class='secondary'>（9）如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通知7qiku。</p>
	<p class='secondary'>如用户在使用7qiku时违反任何上述规定，7qiku或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用7qiku的权利）以减轻用户不当行为造成的影响。侵害第三方权利的，由实施侵权行为的用户承担赔偿责任，触及刑法的，承担刑事责任。同时，7qiku保留追偿的权利。</p>
	<h2>第七章　用户隐私保护说明</h2>
	<p><span style='font-weight:bold'>第15条：</span>用户隐私保护:7qiku不公开用户的注册信息给第三方（包括姓名、地址、电子邮箱和身份证号、密码等等），但以下情况例外：</p>
	<p class='secondary'>（1）用户授权7qiku透露上述信息。</p>
	<p class='secondary'>（2）用户因在7qiku上进行借款而与其他贷出者产生诉讼的，通过司法部门或行政部门依照法定程序要求7qiku提供相关数据，7qiku会积极配合并提供相关资料。</p>
	<p class='secondary'>（3）用户在7qiku进行交易过程中如与其它投资者产生纠纷，请求7qiku从中予以调处，经7qiku审核后，7qiku有权通过电子邮件向纠纷双方了解情况，并将所了解的情况通过电子邮件互相通知对方。</p>
	<p class='secondary'>（4）7qiku有权对注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</p>
	<p class='secondary'>（5）经国家生效法律文书或行政处罚决定确认存在违法行为，或者7qiku有足够事实依据可以认定您存在违法或违反服务协议行为的，7qiku有权在平台/微信服务号上以网络发布形式公布您的违法行为。</p>
	<p class='secondary'>（6）在使用7qiku服务时，平台/微信服务号有权接收并记录您的个人信息，包括但不限于IP地址、网站Cookie中的资料及您要求取用的网页记录等。</p>
	<h2>第八章　知识产权保护说明</h2>
	<p><span style='font-weight:bold'>第16条：</span>7qiku上所有内容的知识产权均由7qiku及其权利人依法拥有，包括但不限于文本、数据、文章、图片、资讯、平台架构、网页设计等。未经7qiku或其权利人书面同意，任何人不得擅自使用、修改、复制、公开发布7qiku程序或内容。</p>
	<p><span style='font-weight:bold'>第17条：</span>尊重知识产权是用户应尽的义务，如有违反，用户应对7qiku承担损害赔偿等法律责任。</p>
	<h2>第九章    违约责任</h2>
	<p><span style='font-weight:bold'>第18条：</span>如因7qiku违反有关法律、法规或本协议项下的任何条款而给用户造成损失，7qiku同意承担由此造成的损害赔偿责任。</p>
	<p><span style='font-weight:bold'>第19条：</span>用户同意保障和维护7qiku及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给7qiku或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>
	<h2>第十章   通知送达</h2>
	<p><span style='font-weight:bold'>第20条： </span>本协议项下7qiku对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；通知于发送之日视为已送达收件人。</p>
	<p><span style='font-weight:bold'>第21条：</span>用户对于7qiku的通知应当通过7qiku对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>
	<h2>第十一章　法律适用说明</h2>
	<p><span style='font-weight:bold'>第22条：</span>本协议由用户与7qiku共同签订，适用于用户在7qiku的一切活动。协议内容包括但不限于协议正文条款，已发布的或将来可能发布的各类规则，都应视为协议不可分割的一部分，与协议正文条款享有同等法律效力。</p>
	<p><span style='font-weight:bold'>第23条：</span>本协议不涉及7qiku用户间产生的法律关系及法律纠纷。用户间的纠纷及争议需要7qiku提供相应资料时，7qiku仅接受来自司法机关的请求。</p>
	<p><span style='font-weight:bold'>第24条：</span>7qiku对本协议具有最终解释权。</p>
	<p><span style='font-weight:bold'>第25条：</span>本协议签订地为中国北京市。因本协议所引起的用户与7qiku的任何纠纷及争议，各方一致同意，不论争议金额大小，均由北京市大兴区人民法院管辖。</p>
	
	<h1>信息查询授权书</h1>
	<p>您点击“同意授权”按钮接受如下内容：</p>
	<p>1、授权奇酷（北京）汽车租赁有限公司将您的以下信息包括但不限于姓名、身份证号、手机号和车辆牌照号码等提交给相关的征信机构、风险管理服务公司，用于征信机构或风险管理服务公司自行或者通过合作机构对您的相关信息进行查验；</p>
	<p>2、授权奇酷（北京）汽车租赁有限公司向相关的征信机构或风险管理服务公司查询、打印、下载保存本人的相关信息，用于评估其与您之间的交易或服务条件。</p>
	<p>提请注意：</p>
	<p>当您发生逾期或其他影响您信用的违约行为时，</p>
	<p>1、您授权相关征信机构或风险管理服务公司可以根据奇酷（北京）汽车租赁有限公司的查询请求，提供可以联系到您的电话号码、地址等联系信息，用于追究违约责任；</p>
	<P>2、征信机构或风险管理服务公司会记录您的违约行为并依法提交给相关的机构，这可能会影响您的后续信贷、出国、购买机票等信用生活服务。</P>
</body>
</html>