<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/user/bankCardList.css">

	<script defer async="true" data-main="../../../js/user/aboutMe/bankCardList.js" src="../../../js/require.js"></script>
	<title>我的银行卡</title>
</head>
<body>
    <div class="borderArea" style="margin-top:14px;padding:0">
        <div class = 'block moreCard' style='border-bottom:none;'>
            <img src='../../../img/bankImg/more.png' class='bankImg'>
            <div class='TextBox'>
                <p class='bankTitle' style='line-height:6rem;color:#a2a2a2'>添加银行卡</p>
            </div>
            <img src='../../../img/arrowRight.png' class='arrow'>
        </div>
    </div>
</body>
</html>