<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/orderSucc.css">
	<!-- <script type="text/javascript" src="../../../js/common/jquery.min.js"></script> -->
	<title>提交成功</title>
</head>
<body>
<div class="page">
	    <div class="page-title">
		 <span></span>
		   您的订单已生效
		</div>
	    <div class='progress'>
	    <img src='../../../img/progress3.png' height='300px'>
	        <!-- <div class='progress-left'>
	           <img src='../common/img/progress.png' height='300px'>
	        </div> 
	        <div class='progress-right'>
	            <div class='progress-right-one'>
	               <p class='p1'>提交分期申请</p>
	               <p class='p2'>您的分期申请已提交成功</p>
	            </div>
	            <div class='progress-right-two'>
	               <p class='p1'>风控审核</p>
	               <p class='p2'>风控审核将在30分钟内完成</p>
	            </div>
	            <div class='progress-right-three'>
	               <p class='p1'>支付首付</p>
	            </div>
	            <div class='progress-right-four'>
	               <p class='p1'>签署合同，提车</p>
	            </div>
	            <div class='progress-right-five'>
	               <p class='p1'>定期还款</p>
	            </div> 
	        </div>  -->
	    </div>
	    <div class='buttonBox'>
		    <a class="cancel" href='../userCenter/memberCenter.html'>返回用户中心</a>
		    <a class="redBtn" href='../myOrder/myOrder.html'>查看订单</a>
		</div>
</div>	
</body>
</html>
