<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/user/bankCardDetail.css">
	<script defer async="true" data-main="../../../js/hhuser/aboutMe/bankCardDetail.js" src="../../../js/require.js"></script>
	<title>银行卡信息</title>
</head>
<body>
    <div class='bankCard'>
        <div class='detailTitle'>
            <img src=''>
            <span></span>
        </div>
        <ul class='details'>
            <li class='detailsOne'>银行卡号 </li>
            <li class='detailsTwo'>单笔限额 </li>
            <li class='detailsThree'>单日限额 </li>
        </ul>
    </div>
    <div class="submit" style="margin-top:3rem;">
		<input type='button' class="delete" value='解除绑定快捷支付'>
	</div>
	<!-- 弹窗 -->
    <div id="mask"></div>
	<div class="maskcontent">
	    <div class="cb">
	        
	    </div>
	    <div class="cm">
	        <span class="qx">取消</span>
	        <span class="qd">确定</span>
	    </div>
	</div>
</body>
</html>