<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/user/bindCard.css">
	<!-- <script type="text/javascript" src="../../../js/common/jquery.min.js"></script> -->
	<script defer async="true" data-main="../../../js/hhuser/aboutMe/personalInfo.js" src="../../../js/require.js"></script>
	<title>个人信息</title>
</head>
<body>
	<form id="bankInfoForm" method="post">
		<div class="borderArea" style="margin-top:14px;padding:0">
			<p class="iptItem">
				<label>姓       名</label>
				<input type="text" class="text-input" id="realName" name="realName" disabled style='background:#fff;'>
			</p>
			<p class="iptItem">
				<label for="">手  机  号</label>
				<input type="text" class="text-input" id="phoneNumber" name="phoneNumber" disabled style='background:#fff;'>
			</p>
			<p class="iptItem" style="border-bottom:none;">
				<label for="">身份证号</label>
				<input type="text" class="text-input" id="idCard" name='idCard' disabled style='background:#fff;'>
			</p>
		</div>
		<div class="submit" style="margin-top:3rem;">
			<!-- <input type='button' class="redBtns" value='返回' style='background:#b38a53'> -->
			<a href='aboutMe.html' class="redBtns" style='height:1.8rem;line-height:1.8rem;font-size:0.8rem;background:#06c8c4'>返回</a>
		</div>
	</form>
</body>
</html>