/*协议*/
h1{width:90%;margin:0 auto;font-size: 1.8rem;line-height: 3rem;padding-top: 2.5rem;color: #000;text-align: center;}
p{width: 90%;margin:0 auto;padding-top: 0.5rem;color: #444;font-size: 1.4rem;line-height: 2.1rem;text-indent: 2.8rem;}
.secondary{width: 90%;margin:0 auto;padding-top: 0;color: #444;font-size: 1.4rem;line-height: 2.1rem;text-indent: 2.8rem;}
h2{width: 90%;margin:0 auto;color: #000;font-size: 1.5rem;line-height: 2.5rem;padding-top: 0.5rem;text-indent: 2.8rem;}
.back{position: absolute;width: 5rem;height: 3rem;line-height: 3rem;text-align: center;color: #666;font-size: 1.5rem;top: 0rem;left: 0rem;}