<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/merchant/merchantCenter.css?version=1.0">
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<script defer async="true" data-main="../../../js/user/userCenter/memberCenter.js" src="../../../js/require.js"></script>
	<title>会员中心</title>
</head>
<body>
<div class="page">
	<header>
        <img src='../../../img/newHeader.png'>
		<p class="t-font"></p>
    </header>
    <section class="block"></section>
    <section class='sectionOne'>
        <div class='sectionOne-left buyNewCar' id='buyNewCar'>
            <img src="../../../img/buyCar.png" />
            <p>我要买新车</p>
        </div>
        <div class='sectionOne-left buyOldCar' id='buyOldCar' style="border:0px">
            <img src="../../../img/financing.png" />
            <p>我要买二手车</p>
        </div>
    </section>
    <section class="block" style='height:0.3rem;'></section>
    <section class='sectionTwo' style="margin-top:0px">
        <div class='sectionTwo-one sectionSon' id="repayment">
            <div>
            <img src="../../../img/toPay.png" />
            <span>我要付款</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div>
        <div class='sectionTwo-one sectionSon' id="myBill">
            <div>
            <img src="../../../img/myBill.png" />
            <span>我的账单</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div>
        <div class='sectionTwo-one sectionSon' id="stageOrder">
            <div>
            <img src="../../../img/stageOrderList.png" />
            <span>我的订单</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div> 
        <!-- <div class='sectionTwo-one sectionSon' id="contract">
            <div>
            <img src="../../../img/contract.png" />
            <span>我要签约</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div> -->
        <div class='sectionTwo-one sectionSon' id="credit">
            <div>
            <img src="../../../img/riskInfo.png" />
            <span>信用管理</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div>
        <div class='sectionTwo-one sectionSon' id="aboutMe" style="border: 0px;">
            <div>
            <img src="../../../img/aboutMe.png" />
            <span>关于我</span>
            <img src="../../../img/arrowRight.png" id="arrowRight">
            </div>
        </div>     
    </section>
    <!-- <section class='sectionTwo' style='border-top:none'>
        <div class='sectionTwo-one sectionSon' id="enquiryOrders">
            <div>
            <img src="../../../img/enquiryOrders.png" />
            <span>询价订单</span>
            </div>
        </div> 
        <div class='sectionTwo-one sectionSon' id="contract">
            <div>
            <img src="../../../img/contract.png" />
            <span>我要签约</span>
            </div>
        </div>
        
    </section> -->
    <!-- <div id="buyCarMask"></div>
	<div class="buyCarMaskContent">
	    <img src='../../../img/showCar.png' class='showCar'>
	    <div class='buyCarDiv'>
		    <div class='buyNewCar'>我要买新车</div>
		    <div class='buyOldCar'>我要买二手车</div>
	    </div>
	    <img src='../../../img/buyCarClose.png' class='buyCarClose' style='width:25px;position:absolute;top:3%;right:5%;'>
	</div>
	<div class="financingMaskContent">
	    <img src='../../../img/showFinancing.png' class='showFinancing'>
	    <div class='financingDiv'>
		    <div class='mortgage'>我要抵押</div>
		    <div class='pledge'>我要质押</div>
	    </div>
	    <img src='../../../img/buyCarClose.png' class='financingClose' style='width:25px;position:absolute;top:3%;right:5%;'>
	</div> -->
</div>
</body>
</html>