<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/merchant/orderDetails.css">
    <script defer async="true" data-main="../../../js/user/contract/contractOrderDetails.js" src="../../../js/require.js"></script>
    <title>订单详情</title>
</head>
<body>
<div class="back">
   <div class="part">
      <div class="part-title">
        <span class="sl">订单状态：</span>
        <span class="sr"></span>
      </div>
      <div class="parti">
         <span class="parti-l">订 单 号</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="orderNo"></span>
      </div>
      <div class="parti" style="margin-top:0.2rem;">
         <span class="parti-l">订单名称</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="orderName"></span>
      </div>
      <div class="parti">
         <span class="parti-l">订单金额</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="instalAmt"></span>
      </div>
      <div class="parti">
         <span class="parti-l">分期详情</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="stageDetail"></span>
      </div>
      <div class="parti">
         <span class="parti-l">首 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付 </span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="downPayment"></span>
      </div>
      <div class="parti">
         <span class="parti-l">上 收 息 </span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="finalPayment"></span>
      </div>
      <div class="parti">
         <span class="parti-l">月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;供</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="monthPer"></span>
      </div>
      <div class="parti">
         <span class="parti-l">保 证 金 </span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="margin"></span>
      </div>
      <div class="parti">
         <span class="parti-l">服 务 费 </span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="serviceFee"></span>
      </div>
      <div class="parti bordershow" style="padding-bottom:0.2rem;">
         <span class="parti-l">下单时间</span>
         <span class="parti-m">：</span>
         <span class="parti-r" id="orderTime"></span>
      </div>
      <div class="parti toshow" style="margin-top:0.2rem;">
         <span class="parti-bl">待支付金额：</span>
         <span class="parti-br"></span>
      </div>
   </div>
   <div class="submit" style="margin-top:1.5rem;">
		<input type='button' class="forContract" value='查看合同'>
   </div>
</div>	
</body>
</html>
