<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/merchantCenter.css">
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<script defer async="true" data-main="../../../js/hhuser/userCenter/memberCenter.js" src="../../../js/require.js"></script>
	<title>会员中心</title>
</head>
<body>
<div class="page">
        <section class="userInfo">
    	   <img src="../../../img/hhhead.png">
           <p></p>
        </section>
       <section class="items">
           <ul style='border-bottom:1px solid #e5e5e5'>
               <li id='yiMei'>
                   <img src="../../../img/yimei.png">
                   <span>医美分期</span>
               </li>
               <li style="border-left: 1px solid #E2E2E2;" id='house'>
                    <img src="../../../img/tenants.png">
                    <span>租房分期</span>
               </li>
           </ul>
       </section>
       <section class="details" >
           <ul  style='border-top:1px solid #e5e5e5'>
               <li id='repayment'>
                   <img class="tag" src="../../../img/myPayments.png">
                   <span>我要还款</span>
                   <img class="arrowRight" src="../../../img/arrowR.png">
               </li>
               <li id='myBill'>
                   <img class="tag" src="../../../img/myBill.png">
                   <span>我的账单</span>
                   <img class="arrowRight" src="../../../img/arrowR.png">
               </li>
               <li id='stageOrder'>
                   <img class="tag" src="../../../img/myOrder.png">
                   <span>我的订单</span>
                   <img class="arrowRight" src="../../../img/arrowR.png">
               </li>
               <li id='credit'>
                   <img class="tag" src="../../../img/creditCtr.png">
                   <span>信用管理</span>
                   <img class="arrowRight" src="../../../img/arrowR.png">
               </li>
               <li style="border-bottom: none;" id='aboutMe'>
                    <img class="tag" src="../../../img/about.png">
                    <span>关于我</span>
                    <img class="arrowRight" src="../../../img/arrowR.png">
               </li>
           </ul>
       </section>
    </div>
</body>
</html>