<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    <!-- 样式文件引入 -->
    <link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
    <link href="../../../css/common/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../../css/user/riskInfoAdd.css">
    
    <!-- 脚本文件引入 -->
	<script defer async="true" data-main="../../../js/hhuser/userCenter/riskInfoAdd.js" src="../../../js/require.js"></script>

</head>
<body>
<form id="checkInfoForm" method="post">
    <div class="title" style='margin-top:0.78rem;border-top:1px solid #d5d5d5;'>
        <img src="../../../img/l3.png">
        <span>通讯信息</span>
    </div>
    <div class="tit_content">
        <span>手机号码：</span>
        <input type="tel" id="mobelPhone"  name="mobelPhone"  class="input checkinput" placeholder="请输入手机号码" maxlength=11 onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
    </div>
    <div class="title">
        <img src="../../../img/l1.png">
        <span>基本信息</span>
    </div>
    <div class="tit_content">
        <span>常驻地址：</span>
        <input type="text"  id ="addProvince"  name="addProvince" class="input checkinput" />
    </div>
    <div class="tit_content">
        <span>婚姻状况：</span>
        <div  style="display:inline-block;position:relative;width:62%;">
            <select class="input"  id="marriedStatus" name="marriedStatus"   style="width:100%;">
                <option value="">请选择婚姻状况</option>
                <option value="已婚">已婚</option>
                <option  value="未婚">未婚</option>
            </select>          
        </div>
    </div>

    <div class="title">
        <img src="../../../img/l2.png">
        <span>紧急联系人</span>
    </div>
    <div class="tit_content">
        <span>姓名（亲属）：</span>
        <input type="text" id="contactName1" name="contactName1"  class="spinput input checkinput" />
    </div>
    <div class="tit_content">
        <span>手机号：</span>
        <input type="tel"   id="contactMobel1"  name="contactMobel1" class="input checkinput" placeholder="请输入手机号码" maxlength=11 onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
    </div>
    <div class="tit_content">
        <span>姓名（朋友）：</span>
        <input type="text" id="contactName2" name="contactName2"  class="spinput input checkinput" />
    </div>
    <div class="tit_content">
        <span>手机号：</span>
        <input type="tel"  id="contactMobel2" name="contactMobel2"  class="spinput input checkinput" placeholder="请输入手机号码" maxlength=11 onkeyup="this.value=this.value.replace(/[^\d]/g,'')"/>
    </div>
    <div class="submitss">保存</div>
    <div class='btnBox' style="width:90%;height:2.5rem;margin:2rem auto;overflow:hidden;display:none;">
        <a href="memberCenter.html"  id="back">返回</a>
        <a href="javascript:;" id="save-revise" style="display:none;">保存</a>
        <a href="javascript:;" id="revise">修改</a>
    </div>
    <!-- 弹窗 -->
    <div id="mask"></div>
	<div class="maskcontent">
	    <!-- <div class="ct">消息 <span class="close">X</span></div> -->
	    <div class="cb">知道了</div>
	    <div class="cm">
	        <div class="qd">确定</div>
	    </div>
	</div>
</form>
</body>
</html>


