.btn{
    width: 30%;
    display: inline-block;
    margin: 1rem 1.4rem;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #fff;
    font-size: 0.77rem;
    background: #06c8c4;
    text-align: center;
    border-radius:0.25rem;
    border: 0;
    outline:none;
}