<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/merchant/aboutMe.css?version=1.1">
	<script defer async="true" data-main="../../../js/user/aboutMe/aboutMe.js" src="../../../js/require.js"></script>
	<title>关于我</title>
</head>
<body>
<div class="page" style='height:100%!important;'>
	 <header>
        <img src='../../../img/newHeader.png'>
		<p class='merchant'>用户名</p>
     </header>
     <section class="main" style='height:auto!important;'>
		<div class="main1 clearfix myBankCard">
			<div class="mainr clearfix" style="border:0">
				<span class='span1'>我的银行卡</span>
				<img src='../../../img/arrowRight.png' class='arrowRight'>
				<span class='span2'>张</span>
			</div>
		</div>
		<div class="main1 clearfix personalInfo">
			<div class="mainr clearfix">
				<span class='span1'>个人信息</span>
                <img src='../../../img/arrowRight.png' class='arrowRight'>
			</div>
		</div>
		<div class="main1 resetPass">
			<div class="mainr clearfix" style='border-bottom:none'>
				<span class='span1'>重置密码</span>
			    <img src='../../../img/arrowRight.png' class='arrowRight'>
 			</div>
		</div>
	</section>
    <a href="javascript:;" class="quit">退出</a>
</div>
</body>
</html>