<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/hhuser/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/login/serviceFee.css">
	<!-- <script type="text/javascript" src="../../../js/common/jquery.min.js"></script> -->
	<title>服务费用计算规则</title>
</head>
<body style='position: relative;'>
	<a href="user_reg.html" class="back">&lt;返回</a>
	<h1>花的花世界服务费用计算规则</h1>
	<p class="serviceFee-title">一、服务费用计算规则</p>
	<p>1、分期服务费：指用户选择分期付款服务时须承担的分期付款服务费用，计算公式为：</p>
	<p>分期服务费=消费本金×分期服务费率(月)×分期期数</p>
	<p style="padding-top: 0">每期分期服务费=消费本金×分期服务费率(月)</p>
	<p>具体分期服务费率按各商户公示标准收取，每期分期服务费与当期本金一同收取。</p>
	<p>2、滞纳金计算方式：</p>
	<p>滞纳金(日)=应付但未付总额(所有未还本金+所有未还分期服务费)×滞纳金比例</p>
	<p style="padding-top: 0">总滞纳金=滞纳金(日)×违约天数</p>
	<p>具体滞纳金比例按下述标准收取。</p>
	<p class="serviceFee-title">二、费用标准</p>
	<img src="../../../img/table.png" alt=""/>
	<p class="serviceFee-title">说明：</p>
	<p>1、滞纳金(日)不足0.01元时按0.01元收取；</p>
	<p style="padding-top: 0">2、滞纳金按日累计计算。</p>
	<p class="serviceFee-title">备注：</p>
	<p>1、此服务标准自2016年01月01日0时起施行。</p>
	<p style="padding-bottom: 2rem;">2、花的花世界有权对本服务计算规则进行变更，并以在花的花世界平台上以公告说明或显著位置提示的方式予以公布，花的花世界没有义务再行单独对每个用户进行通知。本服务费用计算规则的内容变更后，用户继续使用花的花世界提供的信用赊购服务的，即视为其同意接受变更后的内容的约束。</p>
</body>
</html>