<!DOCTYPE html>
<html style='height:100%;overflow:hidden;'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../../css/common/module.css">
	<link rel="stylesheet" type="text/css" href="../../../css/user/orderFailed.css">
	<script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
	<script defer async="true" data-main="../../../js/user/toPay/paySuccess.js" src="../../../js/require.js"></script>
	<title>支付结果</title>
</head>
<body style='height:100%;background:#0e0f1d;'>
<div class="page">
   <div class='iconBlock' style='margin:15% auto 0;'>
        <img src='../../../img/paySucc.png' style='width:90%;display:block;margin:0 auto;'>
        <p style='font-size:1.8rem;color:#fff;text-align:center;margin-top:3rem;'>恭喜您，支付成功！</p>
   </div> 
   <div class='buttonBox'>
        <a class="redBtn" href='javascript:;' style='float:left;background:#e89200'>查看订单</a>
        <a class="cancel" href='javascript:;' style='float:right;background:#e89200'>返回用户中心</a>
   </div>
</div>	
</body>
</html>
