<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>关于我</title>
		
		<!-- 样式文件引入 -->
		<link rel="stylesheet" type="text/css" href="../../../css/common/module.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/lib/weui/css/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/merchant/aboutMe.css" />
		
		<!-- 脚本文件引入 -->
		<script defer async="true" data-main="../../../js/merchant/merchantCenter/aboutMe.js" src="../../../js/require.js"></script>
		
	</head>
	<body>
		<div class="page">
			 <div class='header'>
			    <img src='../../../img/logo.png' class='logo'>
			    <p class='merchant'><p>
			 </div>
		     <section class="main">
				<div class="main1 clearfix">
					<div class="mainr clearfix">
						<span class='span1'>机构名称</span>
		                <span class='span2'></span>
					</div>
				</div>
				<div class="main1 clearfix">
					<div class="mainr clearfix">
						<span class='span1'>机构代码</span>
		                <span class='span2'></span>
					</div>
				</div>
				<div class="main1 resetPass">
					<div class="mainr clearfix" style='border-bottom:none'>
						<span class='span1'>重置密码</span>
					    <img src='../../../img/arrowRight.png' class='arrowRight'>
		 			</div>
				</div>
			</section>
		    <a href="javascript:;" class="quit">退出</a>
		</div>
	</body>
</html>